.content {
  margin: 0;
  padding: 0 5%;
  background: repeating-linear-gradient(
    180deg,
    #48c8c4,
    #48c8c4 0.3px,
    #faf0e6 3px,
    #faf0e6 30px
  );
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content__self-info {
  margin: 0;
  width: 80%;
  align-self: flex-end;
}

.content__bootcamp-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: linear-gradient(transparent 50%, #ff9999 0%);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 100%;
  transition: all 0.8s ease;
  cursor: pointer;
}

.content__bootcamp-link:hover {
  background-size: 100% 100%;
}

.content__fun-fact {
  margin-top: 0;
  width: 80%;
  align-self: flex-end;
}

.content__project {
  margin-top: 0;
  width: 80%;
  align-self: flex-end;
}
