@import url(../../vendor/fonts.css);
.App {
  background-color: #faf0e6;
  font-family: "Edu TAS Beginner", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  margin: 0;
  padding: 0;
  /* max-width: 1550px; */
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
    "side-bar header"
    "side-bar main"
    "side-bar footer";
  gap: none;
}

@media screen and (max-width: 430px) {
}
