.content__fun-fact {
  display: flex;
  margin: 30px;
  padding: 0 5%;
  flex-direction: column;
  align-items: flex-start;
}
.fun-fact__heading {
  margin: 30px 0;
}

.fun-fact__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.fun-fact__list-item {
  padding: 1em;
  text-align: center;
  background: transparent;
  border-radius: 10px 50px/50px 10px;
  border: solid 5px #333;
  display: flex;
  flex-direction: column;
  /* position: relative;
  background: #f8f0d7;
  border-top: 10px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  color: #65513f;
  width: 300px; */
}

.fun-fact__frame {
  background-color: white;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1em 0;
}
.fun-fact__tape {
  position: absolute;
  top: -1em;
  left: 26%;
  width: 50px;
  height: 25px;
  background: #dbd0e4;
  background-image: radial-gradient(#fff 20%, transparent 0),
    radial-gradient(#fff 20%, transparent 0);
  background-position: 0 0, 10px 10px;

  background-size: 20px 20px;
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 2em;
  color: #593869;
  transform: rotate(-4deg);
}

.fun-fact__photo {
  width: 250px;
  height: 250px;
}
