.project-modal__screenshot {
  margin: 1em 0;
  height: 300px;
  width: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-modal__link {
  cursor: pointer;
}

.project-modal__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
